@model GameApplication.Models.UserModel

<div>
    <h4>Login Failure</h4>
    <hr />
    <p> @Model.Username and @Model.Password are incorrect, please try again.</p>

</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to Home</a>
</div>
