@model GameApplication.Models.UserModel

@{
    ViewData["Title"] = "SavedGames";
}
<h1>Saved Games</h1>
<hr />
<div>
    <h5>Select a Saved Game</h5>
    <hr />
    <table>
        <tr>
            <th>Id</th>
            <th>Username</th>
        </tr>
        <tr>
            <td>01</td>
            <td>user1</td>
        </tr>
    </table>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-controller="Button">Access Game</a>
</div>
